.donor-prifile-col {
  padding: 20px;
  background-color: rgb(236, 236, 198);
  height: auto;
}
.prof-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-bottom: 20px;
}
.prof-name {
  text-align: center;
  margin-bottom: 40px;
}
.list-row {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.list-col {
  padding: 10px;  
}
.list-col-text{
    margin-left: auto;
    margin-right: auto;  
}
